{% extends 'RO/base_RO.html' %}
{% block title %} CONTACT US - QUIQSILVER {% endblock %}
{% block content %}
<section class="contact-light">
  <div class="container">
    <div class="box">
      <form method="post">
        <div class="form-group">
          <label for="email"><h5>*Adresa Email</h5></label>
          <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
        </div>
        <div class="form-group">
          <label for="nume"><h5>*Nume</h5></label>
          <input type="text" id="nume" name="name" class="form-control" placeholder="Nume si Prenume.." required>
        </div>
        <div class="form-group">
          <label for="country"><h5>*Tara</h5></label>
          <select class="form-control" id="country" name="country" required>
            <option>Romania</option>
            <option>Germania</option>
          </select>
        </div>
        <div class="form-group">
          <label for="message"><h5>*Lasati aici un mesaj</h5></label>
          <textarea class="form-control-message" id="message" name="message" required></textarea>
        </div>
        <div class="form-group">
           <button type="submit" class="submit_button" >Submit</button>
        </div>
      </form>
      </div>
    </div>
</section>
<section class='contact-light'>
</section>
{% endblock %}